@import '../variables.scss';

.elements {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .restaurants,
    .meals {
        margin: 15px;
        border: 3px solid $darkAccent;
        border-radius: 15px;
        height: 85vh;
        display: flex;
        overflow: auto;
        align-items: center;


        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 800px;
        }
    }

    .restaurants {
        padding-top: 15px;
        width: 20%;
        flex-direction: column;
        align-items: center;

        .list {
            .restaurantName {
                margin: 0;
                margin-bottom: 10px;
                width: 320px;
                min-height: 60px;
                border: 3px solid $darkAccent;
                color: $darkAccent;
                border-radius: 15px;
                font-size: 24px;
                transition: 0.5s;
                cursor: pointer;
            }

            .active {
                background-color: $lightAccent;
                color: $lightShades;
            }
        }

        .restaurantName:hover {
            background-color: $lightAccent;
            color: $lightShades;
        }
    }

    .meals {
        padding-top: 15px;
        width: 80%;
        justify-content: center;
        align-items: center;


        .mealPair {
            display: flex;
            width: 100%;
            margin: auto;

            .meal {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                min-width: 600px;
                min-height: 500px;
                margin: 0 40px 20px 40px;
                border: 3px solid $darkAccent;
                border-radius: 15px;

                .mealName {
                    display: flex;
                    margin: 0;
                    font-size: 32px;
                    position: absolute;
                    bottom: 100px;
                    left: 40px;
                }

                .menuImg {
                    width: 400px;
                    height: 300px;
                    margin-top: 40px;
                }

                .mealBottom {
                    .price {
                        display: flex;
                        margin: 0;
                        font-size: 28px;
                        position: absolute;
                        bottom: 35px;
                        left: 40px;
                    }

                    .addButton {
                        display: flex;
                        font-size: 18px;

                        align-items: center;
                        text-align: center;
                        justify-content: center;

                        min-height: 60px;
                        min-width: 200px;
                        border: 3px solid $darkAccent;
                        color: $darkAccent;
                        border-radius: 15px;
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        transition: 0.5s;
                    }

                    .addButton:hover {
                        cursor: pointer;
                        background-color: $lightAccent;
                        color: $lightShades;
                    }
                }

            }
        }
    }
}